<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Ошибка</h1>
    <div class="alert alert-danger mt-3" role="alert">
        <p th:text="${errorMessage}">Произошла ошибка. Попробуйте еще раз.</p>
    </div>
    <a href="/pizza" class="btn btn-primary">Вернуться к меню пиццы</a>
</div>
</body>
</html>